* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}
.left {
  position: relative;
}
.picture-screen {
  position: absolute;
  top: 0;
  left: 158px;
  top: 29px;
}

.panel {
  width: 350px;
  background: white;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 2px;
  padding: 20px 40px;
  margin: 5px 0;
  display: flex;
}

.login {
  flex-direction: column;
  align-items: center;
}

#logo {
  /* width: 150px; */
  width: 75%;
  margin-top: 20px;
  margin-bottom: 15px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-box {
  width: 100%;
  padding: 10px;
  /* padding: 9px 0 7px 8px; */
  margin-bottom: 10px;
  background: white;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
}

.input-box::placeholder {
  color: #8e8e8e;
  font-size: 14px;
}

.input-box:focus {
  outline: none;
  border: 1px solid #8e8e8e;
}
.btn {
  border: 0 solid #000;
  background: lightblue;
  border-radius: 5px;
  width: 100%;

  color: white;
  padding: 9px 0 7px 8px;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 10px 0;
}

.separation {
  display: flex;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #8e8e8e;
  gap: 20px;
  align-items: center;
}

.line {
  /* Flex Grow 1 -> allows the item to grow by occupying the entire space  */
  flex-grow: 1;
  height: 1px;
  background-color: #8e8e8e;
}
.facebook-login {
  margin: 20px 0;
  color: #385185;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.facebook-login i {
  margin-right: 10px;
  font-size: 20px;
}
.recover-pass {
  color: #385185;
  text-decoration: none;
  font-size: 14px;
}

.signup {
  gap: 3.25px;
  font-size: 17px;
  justify-content: center;
}

.signup a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(0, 149, 246);
}
.app-market {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  margin: 20px 0;
}
.icon-market {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 25px;
}

.icon-market img {
  width: 145px;
  height: auto;
}
